<div class="detalles row">
	<h3>Detalles Libro</h3>
	<div>
		<div>
			<label for="nombre">Nombre</label>
			<input type="text" id="nombre" ng-model="form.nombre" disabled />
		</div>
		<div>
			<label for="Autor">Autor</label> 
			<input type="text" id="autor" ng-model="form.autor" disabled />
		</div>
		<div>
			<label for="Anio">Anio</label>
			<input type="text" id="anio" ng-model="form.anio" disabled />
		</div>
		<div>
			<label for="Genero">Genero</label>
			<input type="text" id="genero" ng-model="form.genero" disabled />
		</div>
	</div>
</div>

<a class="btn" href="/#/">Volver</a>