<div class="contenedor">

<div class="buscar">
	<h2>Buscar</h2>
	<form name="busqueda">
		<div class="row">
			<div class="col-25">
				<label for="text">Texto de busqueda:</label>
			</div>
			<div class="col-75">
				<input id="text" ng-model="form.text" type="text" required />
			</div>
		</div>
			<button class="col-50-left" ng-click="busqueda.$valid && search(form.text)">Buscar</button>
			<button class="col-50-right" ng-click="load()">Restablecer</button>
	</form>
</div>

	<div class="listado col-50-right">
		<h2>Lista de libros</h2>
		<table class="tabla">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Autor</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in list | orderBy:'autor'">
					<td><a href="/#/{{item.id}}">{{item.nombre}}</a></td>
					<td>{{item.autor}}</td>
					<td><button ng-click="delete(item.id)">Eliminar</button></td>
				</tr>
			</tbody>
		</table>
	</div>



	<div class="formulario col-50-left">
		<h2>Nuevo Libro</h2>
		<form name="libro">
			<div class="row">
				<div class="col-25">
					<label for="nombre">Nombre:</label>
				</div>
				<div class="col-75">
					<input id="nombre" ng-model="form.nombre" type="text" required />
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="autor">Autor:</label>
				</div>
				<div class="col-75">
					<input id="autor" ng-model="form.autor" type="text" required />
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="anio">A&ntilde;o:</label>
				</div>
				<div class="col-75">
					<input id="anio" ng-model="form.anio" type="number" required />
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="genero">Genero:</label>
				</div>
				<div class="col-75">
					<input id="genero" ng-model="form.genero" type="text" required />
				</div>
			</div>
			<button ng-click="libro.$valid && save()">Guardar</button>
		</form>
	</div>
</div>